@page
@model CreateAppointmentModel
@{
    ViewData["Title"] = "Create Appointment";
}
<h2>@ViewData["Title"]</h2>
<div asp-validation-summary="All"></div>
<form method="POST">
    <div>
        <label>Description</label><br />
        <textarea asp-for="Appointment.Description"></textarea>
    </div>
    <div>
        <label>Date End of Actuality</label><br />
        <input asp-for="Appointment.DateEndOfActuality" type="datetime-local"/>
    </div>
    <div>
        <input type="submit" value="Add" />
    </div>
</form>
